{{!-- views/homepage.handlebars --}}

<h1>The Tech Blog</h1>

{{#each posts}}
  <div class="post">
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
    {{> user username=this.user.username createdAt=(format_date this.createdAt)}}

    {{#if ../loggedIn}}
      {{#unlessCond this.user_id ../loggedInUserId}}
        <button class="add-comment-btn" data-id="{{this.id}}">Add Comment</button>
        <div class="comment-form" id="comment-form-{{this.id}}" style="display: none;">
          <textarea class="comment" rows="4" placeholder="Add a comment"></textarea>
          <button class="submit-comment-btn" data-id="{{this.id}}">Submit</button>
        </div>
      {{/unlessCond}}
    {{/if}}

    <div class="comments">
      {{#each this.comments}}
        <div class="comment">
          <p>{{this.comment_text}}</p>
          {{> user username=this.user.username createdAt=(format_date this.createdAt)}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
